$blue: #007bc7;
$blue-light: #0088dd;
$blue-hover: #005387;
$blue-dark: #38485c;
$gray-dark: #222529;

$light: #e2e3e7;

.title-block {
  font-size: 3rem;
  font-weight: 800;
  // color: white;
  text-align: center;

  @media only screen and (max-width: 1000px) {
    font-size: 2.5rem;
  }
}

.main {
  padding-top: 88px;
  
  header {
    justify-content: center;
    text-align: center;
    padding: 4rem;
    
    .title-block {
      font-size: 4rem;
      margin-bottom: 1rem;

      @media only screen and (max-width: 1000px) {
        font-size: 2.5rem;
      }
    }

    .bg-landing {
      height: 560px;
      width: 70%;
      margin: 50px auto;
      background-image: url(../../../public/assets/landing.svg);
      background-size: cover;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
  }

  .tabs-slider  {
    justify-content: center;
    display: flex;
  
    .nav.nav-pills.tabs {
      overflow-x: auto;
      padding-bottom: 10px;

      &::-webkit-scrollbar {
        height: 8px;
      }
      
      &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 6px; 
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #888; 
        border-radius: 6px; 
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background-color: #555; 
      }
    }

    // .nav.nav-pills.tabs > .nav-item > .nav-link {
    //   color: white;
    // }
  }

  .tab-content {
    width: 100%;
    left: 0;
    margin: 0 auto;
    justify-content: start;
    padding-top: 1rem;

    .tab-pane {
      .listCard {
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
      }
    }
  }
}
